/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* css reset end */
:root {
    --main-color: #f0950b;
    --chinese-title: 'Noto Serif JP', serif;
    --english-title: 'Vollkorn', serif;
    --serif: "微軟正黑體", serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    width: auto;
}

h2,
h3,
p,
a {
    font-family: var(--serif);
}

h3 {
    font-size: 1.5rem;
    color: #000;
    margin: 20px;
}

h4{
	font-size: 20px;
	font-weight: bold;
}
/* nav bar */
h1 {
    display: inline;
    font-size: 21px;
}

h1 a {
    color: #000;
}

h1 img {
    vertical-align: text-bottom;
}

.chinese-title {
    font-family: var(--chinese-title);
}

.english-title {
    font-family: var(--english-title);
}

.orange {
    background: var(--main-color);
}

#topbar {
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 2px 8px rgb(43, 43, 43);
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li a {
    color: #000;
    padding: 10px;
    font-family: "微軟正黑體", serif;
    font-size: 14px;
}

nav li a:hover {
    color: var(--main-color);
    border-bottom: 6px solid var(--main-color);
}

#top-bar-list {
    margin-right: 30px;
}

/* sidebar-button */
#sidebarButton {
    display: none;
    font-size: 25px;
    border: none;
    background: transparent;
    margin-right: 25px;
	color: #000;
}

/* side bar */
#sidebar {
    display: none;
    background: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: -3px 0px 5px rgb(85, 85, 85);
    padding-top: 100px;
    animation: MoveToRight 1s linear;
}

#sidebar li a {
    list-style-type: circle;
    display: block;
    padding: 6px 0;
    margin: 20px 60px 20px 20px;
    color: #000;
}

#sidebar li a:hover {
    border-bottom: 4px solid var(--main-color);
}

.blur{
	filter: blur(3px);
}
/* main */
/* main img */
h2 {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 40px;
    line-height: 1.5;
    font-size: 25px;
    text-shadow: 2px 2px 5px #000;
    font-weight: bold;
    margin-top: 20px;
}

.main-img {
    overflow: hidden;
    height: 80vh;
    position: relative;
    padding-top: 50px;
}

.main-img img {
    filter: blur(3px) grayscale(20%);
}

.go-to-form {
    position: absolute;
    top: 55%;
    left: 40px;
    background: var(--main-color);
    border: var(--main-color) solid 2px;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 3px 6px rgb(65, 65, 65);
    color: #fff;
}

.go-to-form:hover {
    background: #fff;
    color: var(--main-color);
}

/* introduction */
.introduction{
	display: flex;
	justify-content: center;
	margin: 30px 0;
	text-align: center;
	font-family: var(--serif);
}
.intro img{
	max-width: 200px;
	max-height: 200px;
	border-radius: 100%;
	margin: 20px;
}

/* feature-list */
.feature-list{
	background: var(--main-color);
	text-align: center;
	padding: 30px 0;
	width: 100%;
	color: #fff;
}
.feature{
	display: flex;
	justify-content: center;
	align-items:flex-start;
	line-height: 1.5;
	padding: 0 30px;
	font-family: var(--serif);
}
.feature i{
	font-size: 80px;
	margin: 10px;
}
.feature li{
	margin: 30px 40px;
	width: 100%;
}
.feature p{
	font-size: 14px;
	margin: 10px 20px;
}

/* form */
#student-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    font-family: var(--serif);
    line-height: 1.8;
    background-image: url(images/memphis-colorful.png);
}

#student-form p {
    color: var(--main-color);
    font-size: 0.8rem;
}

form {
    background: #fff;
    padding: 30px 120px;
    box-shadow: 2px 3px 5px gray;
    font-size: 14px;
    width: 60%;
}

.class-type-checkbox {
    display: flex;
}

.class-type-checkbox input {
    width: auto !important;
    margin-top: 8px;
}

.form-checkbox input:hover {
    color: #000 !important;
}

.form-checkbox {
    font-size: 13px;
    line-height: 1.5;
}

form input {
    border-radius: 3px;
    padding: 3px;
    border: #ddd solid 1px;
    width: 100%;
}

form fieldset {
    margin-top: 10px;
}

form input:hover {
    border: var(--main-color) solid 2px;
}

form fieldset:hover {
    color: var(--main-color);
}

form label:after {
    color: var(--main-color);
}

textarea {
    vertical-align: top;
    border: #ddd solid 1px;
    width: 100%;
    height: 100px;
}

textarea:hover {
    border: var(--main-color) solid 2px;
}

.submit-button {
    background: var(--main-color);
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
}

.submit-button:hover {
    background: #fff;
    border: var(--main-color) solid 2px;
    color: var(--main-color);
}

/* footer */
footer {
    padding: 30px;
    line-height: 1.5;
    font-size: 0.8rem;
    background: var(--main-color);
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer p {
    margin-bottom: 10px;
}

.footer-list {
    display: flex;
}

footer a {
    display: block;
    color: #000;
    text-align: center;
    margin: 0 30px;
}

footer a i {
    font-size: 18px;
}

footer a:hover {
    color: #fff;
}

/* postition button */
.side-button {
    width: 40px;
    height: 40px;
    border: #fff solid 2px;
    box-shadow: 2px 4px 5px gray;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
}

.side-button i {
    font-size: 30px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
}

#up {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#ig {
    position: fixed;
    right: 20px;
    bottom: 75px;
}

#fb {
    position: fixed;
    right: 20px;
    bottom: 130px;
}

.side-button:hover {
    background: var(--main-color);
}

.side-button i:hover {
    color: #fff;
}

/* RWD */
@media (max-width:680px) {
    h2 {
        font-size: 16px;
    }

    #top-bar-list {
        display: none;
    }

    #sidebarButton {
        display: block;
    }

    .go-to-form {
        font-size: 0.8rem;
        margin-top: 35px;
        padding: 8px;
    }

    h3 {
        font-size: 1.2rem;
    }

    .main-img {
        height: auto;
    }

	.introduction{
		flex-direction: column;
	}

	.feature{
		flex-direction: column;
		align-items: center;
	}

    #student-form {
        padding: 20px 0 60px 0;
    }

    form {
        padding: 20px;
        width: 80%;
    }

    form input,
    textarea,
    select {
        font-size: 10px;
    }

    form p {
        font-size: 10px;
        line-height: 1.5;
    }

	.form-checkbox{
		font-size:12px;
	}
    .footer-list {
        flex-direction: column;
    }

    .footer-list a {
        margin-bottom: 10px;
    }
}

/* animation */
@keyframes MoveToRight {
    from {
        right: -100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}